page-settings {

    img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

}
